/************** MYRTILLE **************/

.myrtille-link {
  display: flex;
  grid-row: span 2;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--myrtille-background);
  border-radius: 10px;
  transition: 100ms ease-in-out;
  -webkit-animation: fadein-page 300ms ease-out normal backwards;
          animation: fadein-page 300ms ease-out normal backwards;
}

.myrtille-link svg {
  width: 50%;
  fill: var(--main);
}

/************** RAISIN **************/

raisin {
  display: flex;
  flex-direction: column;
  grid-row: span 4;
  justify-content: space-between;
  padding: var(--spacing-00) var(--spacing-0);
  background-color: var(--main);
  border: 2px solid var(--pomme-background);
  border-radius: 10px;
  -webkit-animation: fadein-page 50ms ease-out normal backwards;
          animation: fadein-page 50ms ease-out normal backwards;
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

.raisin-title {
  color: var(--myrtille-background);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-1);
}

raisin-links {
  display: flex;
  flex-direction: column;
}

.raisin-link {
  padding: var(--spacing-0000) 0;
  color: inherit;
  color: var(--myrtille-background);
  font-size: var(--scale-00);
  text-decoration: none;
  border-top: 1px dashed var(--myrtille-background);
  outline: none;
  transition: 200ms;
}

.raisin-link:first-child {
  border-top: none;
}

.raisin-link:hover {
  color: var(--pomme-background);
}

/************** CLOCK **************/

pp-clock {
  display: flex;
  grid-column: span 2;
  grid-row: span 2;
  background-color: transparent;
  perspective: 400px;
}

pp-clock-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--module-background);
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: transform 300ms;
}

pp-clock-inner:hover {
  cursor: pointer;
}

pp-clock-front,
pp-clock-back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

pp-clock-front {
  color: var(--main);
}

pp-clock-back {
  color: var(--main);
  background-color: var(--myrtille-background);
  border-radius: 10px;
  transform: rotateX(180deg);
}

pp-clock-inner.is-flipped {
  transform: rotateX(-180deg);
}

.pp-clock-time,
.pp-clock-date {
  color: var(--main);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-3);
}

/************** SEARCH **************/

pp-search {
  display: flex;
  grid-column: span 3;
  grid-row: span 2;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-0);
  background-color: var(--search-background);
  border-radius: 10px;
  -webkit-animation: fadein-page 250ms ease-out normal backwards;
          animation: fadein-page 250ms ease-out normal backwards;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

pp-engine-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}

.pp-search-icon {
  width: var(--spacing-2);
  height: var(--spacing-2);
  padding: 0;
  background: none;
  border: none;
  outline: inherit;
  cursor: pointer;
}

.pp-search-icon[data-state='inactive'] {
  opacity: 0.5;
}

.pp-search-icon > path {
  pointer-events: none;
}

.pp-search-input {
  flex: 1;
  min-width: 0;
  margin: 0 var(--spacing-000) 0 24px;
  padding: var(--spacing-0000) 0;
  color: var(--main);
  font-size: var(--scale-2);
  background-color: transparent;
  background-image: none;
  border: none;
  border-bottom: 1px dashed var(--main);
  box-shadow: none;
}

pp-search textarea:focus,
input:focus {
  outline: none;
}

/************** BINANCE **************/

pp-binance {
  display: none;
  flex-direction: column;
  grid-column: span 2;
  grid-row: span 6;
  padding: 0 var(--spacing-2);
  background-color: var(--module-background);
  border-radius: 10px;
  -webkit-animation: module-display 500ms ease-in-out;
          animation: module-display 500ms ease-in-out;
}

pp-binance-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--spacing-4);
}

.binance-selector-button {
  padding: 0;
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-1);
  background: none;
  border: none;
  outline: inherit;
  cursor: pointer;
}

.binance-selector-button[data-state='active'] {
  color: var(--main);
}

.binance-selector-button[data-state='inactive'] {
  color: var(--main-light);
}

pp-binance-chart {
  display: flex;
  flex: 1;
  align-items: center;
  transform: scaleY(-1);
}

pp-binance-chart-label {
  color: var(--main-light);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-0);
  text-align: right;
}

pp-binance-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--spacing-5);
}

pp-binance-current {
  text-align: right;
}

.binance-difference-label,
.binance-current-label {
  padding-top: var(--spacing-1);
  color: var(--main-light);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-0);
}

.binance-difference-value,
.binance-current-value {
  color: var(--main);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-2);
}

.binance-money-unit {
  position: relative;
  top: -1px;
  color: var(--main-light);
  font-size: var(--scale-0);
}

pp-binance-loader-container {
  display: flex;
  grid-column: span 2;
  grid-row: span 6;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  border: 2px solid var(--pomme-background);
  border-radius: 10px;
}

pp-binance-error-container {
  display: none;
  flex-direction: column;
  grid-column: span 2;
  grid-row: span 6;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  border: 2px solid var(--search-background);
  border-radius: 10px;
  -webkit-animation: module-display 500ms ease-in-out;
          animation: module-display 500ms ease-in-out;
}

p.binance-error-code {
  margin-top: var(--spacing-0);
  color: var(--search-background);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-2);
}

/************** openweather **************/

pp-openweather {
  display: none;
  grid-column: span 1;
  grid-row: span 4;
  perspective: 400px;
  -webkit-animation: module-display 500ms ease-in-out;
          animation: module-display 500ms ease-in-out;
}

pp-openweather-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--module-background);
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: transform 300ms;
}

pp-openweather-inner:hover {
  cursor: pointer;
}

pp-openweather-inner.is-flipped {
  transform: rotateY(180deg);
}

pp-openweather-front,
pp-openweather-back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: var(--spacing-0000) var(--spacing-0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

pp-openweather-front {
  color: var(--main);
}

pp-openweather-icons {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

pp-openweather-icons .pp-openweather-icon[data-state='hide'] {
  display: none;
}

pp-openweather-city,
pp-openweather-temp,
pp-openweather-humid {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: var(--spacing-2);
}

.city-label,
.temp-label,
.humid-label {
  color: var(--main-light);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-0);
}

.city-value,
.temp-value,
.humid-value {
  color: var(--main);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-0);
}

pp-openweather-back {
  color: var(--main);
  background-color: var(--myrtille-background);
  border-radius: 10px;
  transform: rotateY(-180deg);
}

.pp-openweather-time,
.pp-openweather-date {
  color: var(--main);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-3);
}

pp-openweather-linebreak {
  width: 80%;
  height: 1px;
  margin: var(--spacing-000) 0;
  background: var(--main);
}

.openweather-back-sunrise,
.openweather-back-sunset {
  margin: var(--spacing-0000) 0;
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-1);
}

pp-openweather-loader-container {
  display: flex;
  grid-column: span 1;
  grid-row: span 4;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  border: 2px solid var(--pomme-background);
  border-radius: 10px;
}

pp-openweather-error-container {
  display: none;
  flex-direction: column;
  grid-column: span 1;
  grid-row: span 4;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  border: 2px solid var(--search-background);
  border-radius: 10px;
  -webkit-animation: module-display 500ms ease-in-out;
          animation: module-display 500ms ease-in-out;
}

p.openweather-error-code {
  margin-top: var(--spacing-0);
  color: var(--search-background);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-2);
}

/************** UNSPLASH **************/

pp-unsplash {
  display: none;
  grid-column: span 2;
  grid-row: span 4;
  background-color: var(--myrtille-background);
  border-radius: 10px;
  -webkit-animation: module-display 500ms ease-in-out;
          animation: module-display 500ms ease-in-out;
}

pp-unsplash > img {
  width: 100%;
  padding: var(--spacing-0000);
  border-radius: 12px;
  opacity: 0.5;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

pp-unsplash-loader-container {
  display: flex;
  grid-column: span 2;
  grid-row: span 4;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  border: 2px solid var(--pomme-background);
  border-radius: 10px;
}

pp-unsplash-error-container {
  display: none;
  flex-direction: column;
  grid-column: span 2;
  grid-row: span 4;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  border: 2px solid var(--search-background);
  border-radius: 10px;
  -webkit-animation: module-display 500ms ease-in-out;
          animation: module-display 500ms ease-in-out;
}

p.unsplash-error-code {
  margin-top: var(--spacing-0);
  color: var(--search-background);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-2);
}

/************** STORMGLASS **************/

pp-stormglass {
  display: none;
  flex-direction: column;
  grid-column: span 2;
  grid-row: span 4;
  padding: 0 var(--spacing-2);
  background-color: var(--module-background);
  border-radius: 10px;
  -webkit-animation: module-display 500ms ease-in-out;
          animation: module-display 500ms ease-in-out;
}

pp-stormglass > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--spacing-4);
}

pp-header > p,
.watertemp-value,
.winddir-value,
.windspeed-value,
.waveheight-value,
.waveperiod-value,
.wavedir-value {
  color: var(--main);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-2);
}

pp-firstrow > *,
pp-secondrow > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.watertemp-label,
.winddir-label,
.windspeed-label,
.waveheight-label,
.waveperiod-label,
.wavedir-label {
  color: var(--main-light);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-00);
}

.pp-stormglass-unit {
  color: var(--main-light);
  font-size: var(--scale-0);
}

pp-linebreak {
  width: 100%;
  height: 1px;
  background: var(--main-light);
}

pp-stormglass-loader-container {
  display: flex;
  grid-column: span 2;
  grid-row: span 4;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  border: 2px solid var(--pomme-background);
  border-radius: 10px;
}

pp-stormglass-error-container {
  display: none;
  flex-direction: column;
  grid-column: span 2;
  grid-row: span 4;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  border: 2px solid var(--search-background);
  border-radius: 10px;
  -webkit-animation: module-display 500ms ease-in-out;
          animation: module-display 500ms ease-in-out;
}

p.stormglass-error-code {
  margin-top: var(--spacing-0);
  color: var(--search-background);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-2);
}

p.stormglass-error-message {
  margin-top: var(--spacing-0);
  color: var(--search-background);
  font-size: var(--scale-00);
  font-style: italic;
}

/******* RESET *******/

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/************** VARIABLES **************/

:root {
  /* colors */
  --main: hsl(220, 21%, 17%);
  --main-light: hsl(30, 35%, 40%);
  --module-background: hsl(31, 77%, 60%);
  --search-background: hsl(4, 100%, 74%);
  --pomme-background: hsl(118, 18%, 66%);
  --myrtille-background: hsl(235, 17%, 63%);

  /* font-family */
  --font-family-sans: 'Helvetica Neue', -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, ubuntu, sans-serif, system-ui;

  /* font Modular scale */
  --scale-000: 0.75rem; /* 12px */
  --scale-00: 0.875rem; /* 14px */
  --scale-0: 1rem; /* 16px */
  --scale-1: 1.125rem; /* 18px */
  --scale-2: 1.25rem; /* 20px */
  --scale-3: 1.5rem; /* 24px */
  --scale-4: 1.875rem; /* 30px */
  --scale-5: 2.25rem; /* 36px */

  /* font weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* sizing property -> margin, padding, height */
  --spacing-0000: 4px;
  --spacing-000: 8px;
  --spacing-00: 12px;
  --spacing-0: 16px;
  --spacing-1: 20px;
  --spacing-2: 32px;
  --spacing-3: 48px;
  --spacing-4: 64px;
  --spacing-5: 96px;

  /* Widths applied as max-width */
  --width-00: 120px;

  /* Grid gaps */
  --gap-00: 12px;
  --gap-0: 16px;
  --gap-1: 24px;
}

/************** GLOBAL STYLES **************/

html {
  background-color: var(--main);
}

body {
  padding: var(--spacing-4);
  font-family: var(--font-family-sans);
}

grid {
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: var(--spacing-2);
  grid-gap: var(--gap-1);
  grid-template-columns: repeat(auto-fit, minmax(var(--width-00), 1fr));
}

pomme {
  grid-row: span 2;
  background-color: var(--pomme-background);
  border-radius: 10px;
  -webkit-animation: fadein-page 200ms ease-out normal backwards;
          animation: fadein-page 200ms ease-out normal backwards;
}

pp-loader {
  display: grid;
  grid-gap: var(--gap-00);
  grid-template-areas:
    'pp-loader-dot pp-loader-dot'
    'pp-loader-dot pp-loader-dot';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

pp-loader-dot {
  width: var(--spacing-1);
  height: var(--spacing-1);
  background-color: var(--main);
  border-radius: 50%;
  -webkit-animation: loader-animation 1s linear 1s infinite alternate;
          animation: loader-animation 1s linear 1s infinite alternate;
}

pp-loader-dot:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

pp-loader-dot:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

pp-loader-dot:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

pp-loader-dot:nth-child(4) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.error-notification {
  color: var(--search-background);
  font-weight: var(--font-weight-regular);
  font-size: var(--scale-2);
}

/******* ANIMATION *******/

@-webkit-keyframes module-display {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes module-display {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes loader-animation {
  100% { background-color: var(--module-background); }
}

@keyframes loader-animation {
  100% { background-color: var(--module-background); }
}

@-webkit-keyframes fadein-page {
  0% { transform: scale(0); }
  70% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

@keyframes fadein-page {
  0% { transform: scale(0); }
  70% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

/******* IMPORTS *******/


/*# sourceMappingURL=/src.9ad09f98.css.map */